.wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    height: 500px;
}

.red {
    background: #900;
    flex: 0 0 50%;
    width: 50%;
}

.green {
    background: #090;
    flex: 0 0 50%;
    width: 50%;
}

.blue {
    background: #009;
    flex: 0 0 100%;
    width: 50%;
}
